.image {
    /*width: 600px;  I took the width from your post and placed it in css 
   height: 600px;*/
}


/* This will style any <img> element in .image div */

/*.image img {
    height: 100%;
   width: 100%;
}*/

.row {
    height: 70%;
    overflow:auto;

}

#gifDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logMessages {
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
}

.header-button {
    margin-right: 50px;
}

.generateButton {
    margin-right: 50px;
}
